<%= render partial: "layouts/single_center_top" %>
  <h4>Edit List</h4>
  
  <%= render partial: "form", locals: {list: @list, create_or_update_text: @create_or_update_text} %>
  
  <p>&nbsp;</p>
  <%= link_to "Delete List", list_path(@list), method: "delete", data: {confirm: "Are you sure?"} %>
  
<%= render partial: "layouts/single_center_bottom" %>
