<div class="well container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>My Lists</h2>
      <% @lists.each do |list| %>
        <h4><%= link_to list.name, list_path(list) %></h4>
<% # make nested user/list ? %>
    </div>
  </div>
</div>
