<div class="well container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3>My Lists</h3>
      <% @lists.each do |list| %>
        <h4><%= link_to list.name, list_path(list) %></h4>
      <% end %>
    </div>
  </div>
</div>
