<%= render partial: "layouts/single_center_top" %>

  <h4>Edit Tag</h4>

  <%= render partial: "form", locals: {tag: @tag, create_or_update_text: @create_or_update_text} %>

<%= render partial: "layouts/single_center_bottom" %>
