<%= render partial: "layouts/single_center_top" %>
  
  <h3>Tags</h3>
  
  <p>&nbsp;</p>
  
  <% @tags.each do |tag| %>
    <h5><%= link_to tag.name, tag_path(tag) %></h5>
  <% end %>

  <p>&nbsp;</p>
  <%= link_to "New Tag", new_tag_path %>

<%= render partial: "layouts/single_center_bottom" %>
