<%= render partial: "layouts/single_center_top" %>

  <h3>My Account</h3>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h6>Email: <%= current_user.email %><h6>

<%= render partial: "layouts/single_center_bottom" %>
